version: 2
updates:
- package-ecosystem: npm

  directory: "/"
  
  schedule:
    interval: monthly
    
  open-pull-requests-limit: 10
  
  assignees:
  - killtheliterate

  reviewers:
  - killtheliterate

- package-ecosystem: github-actions

  directory: "/"

  schedule:
    interval: daily

  assignees:
  - killtheliterate

  reviewers:
  - killtheliterate
