rules:
  space-before-function-paren:
    - 2
    - always
  indent:
    - 2
    - 4
  quotes:
    - 2
    - single
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - never
  comma-dangle:
    - 2
    - always-multiline
env:
  browser: true
  es6: true
  mocha: true
  node: true
extends: 'eslint:recommended'
ecmaFeatures:
    modules: true
