{
    "presets": [
        [ "latest", {"es2015": { "modules": false }} ]
    ],

    "plugins": ["external-helpers"],

    "env": {
        "observableonly": {
            "plugins": [ "./../build/observable-only.js" ]
        }
    }
}
